<!DOCTYPE html>
<html>
<head>
  <title>Create Blog</title>
</head>
<body>
  <h1>Create a New Blog Post</h1>
  <form id="createBlogForm">
    <input type="text" id="title" name="title" placeholder="Blog Title" required />
    <textarea id="content" name="content" placeholder="Blog Content" required></textarea>
    <button type="submit">Create Blog</button>
  </form>
  <script src="/js/create-blog.js"></script>
</body>
</html>
