<h2>Your Blog Posts</h2>
<ul>
  {{#each blogs}}
    <li>
      <a href="/post/{{this.id}}">{{this.title}}</a>
      <form action="/api/blogs/{{this.id}}" method="POST" class="inline">
        <button type="submit">Delete</button>
      </form>
      <a href="/edit/{{this.id}}">Edit</a>
    </li>
  {{/each}}
</ul>
<a href="/create">Create New Blog Post</a>
