<h2>Your Blog Posts</h2>
<ul>
  {{#each blogs}}
    <li>
      <a href="/post/{{this.id}}">{{this.title}}</a>
      <form data-id="{{this.id}}" class="delete-blog-form inline">
        <button type="submit">Delete</button>
      </form>
      <a href="/edit/{{this.id}}">Edit</a>
    </li>
  {{/each}}
</ul>
<a href="/api/blogs/create">Create New Blog Post</a>

<script src="/js/dashboard.js"></script>
